
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/escudo.png" class="img-fluid" alt="200px">
                <h3>SISTEMA DE GESTION ACADEMICA CMRC</h3>
            </div>
        </div>
        <div class="row">
            <div class="jumbotron">
                <div class="col-md-4">
                    <panel>
                        <panel class="panel-heading">
                            <h4>Ingrese su Usuario y Contraseña.</h4>
                        </panel>
                        <panel class="panel-body col-md-6">
                            <form>
                                <div class="form-group">
                                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                                </div>
                                <div class="form-group">
                                    <a href="~/Apoderado/" class="btn btn-primary btn-block">INGRESE AL SISTEMA &raquo;</a>
                                </div>
                            </form>
                        </panel>
                    </panel>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
